![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

<a href="https://hub.callysto.ca/jupyter/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fcallysto%2Fcurriculum-notebooks&branch=master&subPath=Mathematics/StatisticsProject/AccessingData/pet-popularity.ipynb&depth=1" target="_parent"><img src="https://raw.githubusercontent.com/callysto/curriculum-notebooks/master/open-in-callysto-button.svg?sanitize=true" width="123" height="24" alt="Open in Callysto"/></a>

# Pet Popularity

Using [Pet Licenses data from the City of Edmonton Open Data Portal](https://data.edmonton.ca/Community-Services/Pet-Licenses-by-Neighbourhood/5squ-mg4w) we can see which (licensed) pets are the most popular.

In [1]:
domain = 'https://data.edmonton.ca/resource/'
uuid = '5squ-mg4w'
query = 'SELECT *'

import requests
import io
import pandas as pd

session = requests.Session()
results = session.get(domain + uuid +'.csv?$query=' + query)
df =  pd.read_csv(io.StringIO(results.content.decode('utf-8')))
df

,year,month,month_number,license_date,neighbourhood,neighbourhood_id,pet_type,breed,gender,spayed_or_neutered,latitude,longitude,location,count
0,2020,July,7,2020-07-01T00:00:00.000,Glenora,3200,Cat,SIAMESE,Female,Yes,53.544905,-113.557043,"\n, \n(53.544904705207486, -113.55704251234017)",1
1,2020,July,7,2020-07-01T00:00:00.000,Avonmore,6020,Dog,AMERICAN STAFFORDSHIRE TERRIER,Male,Yes,53.507780,-113.451631,"\n, \n(53.50777958168241, -113.45163097839595)",1
2,2020,August,8,2020-08-29T00:00:00.000,Michaels Park,6480,Dog,PINSCHER (MINIATURE),Male,Yes,53.479575,-113.446214,"\n, \n(53.479574887970564, -113.44621358136584)",1
3,2020,July,7,2020-07-01T00:00:00.000,Oliver,1150,Cat,DOMESTIC (SHORT HAIR),Male,Yes,53.541983,-113.523994,"\n, \n(53.541982930616356, -113.52399393488137)",1
4,2020,July,7,2020-07-01T00:00:00.000,Summerside,6213,Cat,DOMESTIC (SHORT HAIR),Female,Yes,53.417528,-113.461227,"\n, \n(53.417527612947964, -113.461227376245)",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2020,August,8,2020-08-03T00:00:00.000,Cumberland,3150,Dog,TERRIER,Female,Yes,53.610563,-113.553188,"\n, \n(53.61056256776709, -113.55318813533495)",1
996,2020,February,2,2020-02-11T00:00:00.000,Meadowlark Park,4310,Cat,DOMESTIC (SHORT HAIR),Female,Yes,53.525532,-113.596554,"\n, \n(53.52553194472455, -113.5965541546899)",1
997,2020,June,6,2020-06-30T00:00:00.000,Belmont,2070,Dog,JACK RUSSELL TERRIER,Male,Yes,53.593124,-113.394379,"\n, \n(53.59312408353891, -113.39437923899207)",1
998,2020,April,4,2020-04-02T00:00:00.000,Ottewell,6550,Dog,GERMAN SHEPHERD,Male,Yes,53.531285,-113.430746,"\n, \n(53.53128518402029, -113.43074600681692)",1
999,2020,July,7,2020-07-01T00:00:00.000,Larkspur,6390,Dog,PEMBROKE WELSH CORGI,Male,Yes,53.480210,-113.381240,"\n, \n(53.4802104573005, -113.38123994870551)",1

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)